{{template "header"}}

{{template "username" .}}

{{template "error" .}}

{{if .retryURL}}
<form action="{{.retryURL}}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Retry</button>
</form>
{{end}}

{{template "footer"}}