{{template "header"}}

{{template "error" .}}

{{if .isAuthenticated}}

{{template "username" .}}

    <div class="d-flex flex-column align-items-center gap-3 mt-2">
        <form action="/disconnect">
            <button type="submit" class="btn btn-primary btn-lg">Disconnect</button>
        </form>

        <form action="/switch">
            <button type="submit" class="btn btn-outline-secondary btn-lg">Switch VLAN</button>
        </form>
    </div>
{{else}}
    <h3>Welcome to PolyLAN!</h3>
    <p>Log in with your GeCo account to get network access.</p>

    <form action="/login">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
    </form>
{{end}}

{{template "footer"}}