{{template "header"}}

{{template "error" .}}

<form action="/login">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
</form>

{{/* TODO
<form action="/switch">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Switch VLAN</button>
</form>
*/}}

{{template "footer"}}
