{{template "header"}}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">You have been patched successfully!</h4>
    <p>Please allow up to 5 min for the internet to connect. If it does not work after 5 min unplug and plug your port back in!</p>
</div>

<form action="/">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Home</button>
</form>

{{template "footer"}}
